---
execute:
  echo: true
  enabled: false
format: 
  html:
    code-fold: true
    code-summary: "Show the code"
---

In [54]:
#echo: false
#|include: false 
from myfunctions import *
myimports

# Comprensión de los Datos / Data Understanding

## Lectura de datos

El primer set de datos que utilizaremos, consiste en los resultados *anónimos* de las Pruebas Saber PRO a nivel nacional, desde el año 2016 hasta el 2022,este conjunto de datos constituye nuestra **población** y lo llamaremos `pob`

In [55]:
url="poblacion2016-2022.csv"
pob = pd.read_csv(url)

In [56]:
pob.sample(5)

,PERIODO,ESTU_CONSECUTIVO,ESTU_CODDANE_COLE_TERMINO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_COMOCAPACITOEXAMENSB11,ESTU_SEMESTRECURSA,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_HORASSEMANATRABAJA,INST_COD_INSTITUCION,...,MOD_COMPETEN_CIUDADA_PUNT,MOD_COMPETEN_CIUDADA_DESEM,MOD_INGLES_PUNT,MOD_INGLES_DESEM,MOD_COMUNI_ESCRITA_PUNT,MOD_COMUNI_ESCRITA_DESEM,PUNT_GLOBAL,filter_$,ZPUNT_GLOBAL,ZSco01
1577481,20195.0,EK201950156798,3.760010e+11,Más de 7 millones,Tomó un curso de preparación,8.0,Técnica o tecnológica completa,Educación profesional completa,Menos de 10 horas,1828.0,...,163.0,3.0,191.0,B1,201.0,4.0,175.0,Not Selected,1.110877,NaN
111776,20195.0,EK201950092982,3.258730e+11,Menos de 500 mil,Repasó por cuenta propia,9.0,Secundaria (Bachillerato) incompleta,Secundaria (Bachillerato) incompleta,Más de 30 horas,1106.0,...,122.0,1.0,152.0,A2,144.0,2.0,150.0,Not Selected,0.098336,NaN
1514617,20163.0,EK201630060491,3.254730e+11,Entre 2.5 millones y menos de 4 millones,Repasó por cuenta propia,8.0,Secundaria (Bachillerato) completa,Técnica o tecnológica completa,0,2829.0,...,185.0,3.0,175.0,B1,162.0,3.0,174.0,Not Selected,1.070375,NaN
958988,20173.0,EK201730131297,1.760010e+11,Entre 2.5 millones y menos de 4 millones,No realizó ninguna prueba de preparación,10.0,Secundaria (Bachillerato) incompleta,Secundaria (Bachillerato) incompleta,Más de 30 horas,1818.0,...,175.0,3.0,166.0,A2,215.0,4.0,186.0,Not Selected,1.556395,NaN
397829,20163.0,EK201630114717,NaN,Entre 4 millones y menos de 5.5 millones,No realizó ninguna prueba de preparación,9.0,Postgrado,Postgrado,Entre 21 y 30 horas,1704.0,...,163.0,3.0,179.0,B1,163.0,3.0,158.0,Not Selected,0.422349,NaN

El segundo set de datos corresponde a los estudiantes pertenecientes a la **UNIVERSIDAD DEL NORTE** que presentaron la prueba entre el año 2021 y 2022, por lo tanto, es una *muestra* de la población total, a este set le llamaremos `sam` (sample). 

> Es importante para futuros análisis tener en cuente que este es un *muestreo por conveniencia* en donde la muestra *no es necesariamente representativa ni aleatoria*

Esta información está segmentada en 3 archivos diferentes los cuales vamos a comparar y unificar.

In [57]:
#Esta informacion esta segmentada en 3 archivos diferentes. 
sam2021=pd.read_csv("un2021.csv", sep=";")
sam2021_2=pd.read_csv("un2021_2.csv", sep=";")
sam2022=pd.read_csv("un2022.csv", sep=";")

**Concatenando los archivos**
---

Para unificar estos 3 archivos, primero debemos compararlos entre sí para asegurar que contengan las mismas columnas.

Primero comparamos los `sam2021`y `sam2021_2`

In [58]:
#Comparación de Datasets
cols_sam2021=set(sam2021.columns)
cols_sam2021_2= set(sam2021_2.columns)
common_cols= cols_sam2021 & cols_sam2021_2
print(f"sam2021 tiene un total de {sam2021.shape[1]} columnas")
print(f"sam2021_2 tiene un total de {sam2021_2.shape[1]} columnas")
print(f"Entre los dataframes comparados hay {len(common_cols)} columnas en comun")

sam2021 tiene un total de 22 columnas
sam2021_2 tiene un total de 22 columnas
Entre los dataframes comparados hay 22 columnas en comun

Dado que los dos dataframes tienen las mismas columnas, procederemos a concatenarlos horizontalmente.

In [59]:
sam21=pd.concat([sam2021,sam2021_2], axis=0, ignore_index=True)
sam21.sample(5)

,Periodo,Aplicación,Examen,Tipo de documento,Documento,Nombre,Número de registro,Tipo de evaluado,SNIES programa académico,Programa,...,Núcleo básico de conocimiento,Puntaje global,Percentil nacional global,Percentil nacional nbc,Módulo,Puntaje módulo,Nivel de desempeño,Percentil nacional módulo,Percentil grupo nbc módulo,Novedades
3637,20212,PRO Y TYT 20212,Saber Pro,CC,1140901403,MARIA JOSE CASTANEDA AMADOR,EK202120666958,Estudiante,20523,NEGOCIOS INTERNACIONALES,...,ECONOMÍA,181,92,80.0,COMPETENCIAS CIUDADANAS,190,3,92,83.0,NaN
15341,20212,PRO Y TYT 20212,Saber Pro,CC,1234095542,LISETH MARIA PALENCIA RUIZ,EK202123073426,Estudiante,2519,COMUNICACION SOCIAL Y PERIODISMO,...,"COMUNICACIÓN SOCIAL, PERIODISMO Y AFINES",127,25,17.0,LECTURA CRÍTICA,139,2,43,29.0,NaN
615,20212,PRO Y TYT 20212,Saber Pro,CC,1140881773,DANIEL ALEJANDRO VIANA PADILLA,EK202120147017,Estudiante,1273,INGENIERIA CIVIL,...,INGENIERÍA CIVIL Y AFINES,197,98,97.0,COMUNICACIÓN ESCRITA,171,3,85,87.0,NaN
11661,20212,PRO Y TYT 20212,Saber Pro,CC,1005627459,KEILY YULIANA PEREZ HERAZO,EK202122103828,Estudiante,1273,INGENIERIA CIVIL,...,INGENIERÍA CIVIL Y AFINES,156,67,50.0,INGLÉS,185,B1,83,80.0,NaN
25511,20212,PRO Y TYT 20212,Saber Pro,CC,1002154276,ALVARO DANIEL PEDRAZA ALEAN,EK202121706720,Estudiante,1273,INGENIERIA CIVIL,...,INGENIERÍA CIVIL Y AFINES,190,96,93.0,COMUNICACIÓN ESCRITA,128,2,37,36.0,NaN

Ahora comparemos `sam21`con `sam2022`

In [60]:
#Comparación de Datasets
cols_sam21=set(sam21.columns)
cols_sam2022= set(sam2022.columns)
common_cols= cols_sam21 & cols_sam2022
print(f"sam21 tiene un total de {sam21.shape[1]} columnas")
print(f"sam2022 tiene un total de {sam2022.shape[1]} columnas")
print(f"Entre los dataframes comparados hay {len(common_cols)} columnas en comun")

sam21 tiene un total de 22 columnas
sam2022 tiene un total de 24 columnas
Entre los dataframes comparados hay 22 columnas en comun

Al parecer `sam2022` tiene 2 columnas diferentes a `sam21`, procedemos a identificarlas:

In [61]:
dif_cols= cols_sam2022 - cols_sam21
dif_cols

{'IES', 'SNIES_IES'}

Las columnas `'IES'` y `'SNIES_IES'` no aportan información valiosa, puesto que para nuestro proyecto, este dataset solo contiene información de estudiantes de Universidad del Norte. Por tal motivo, procederemos a *eliminar* estas columnas de`sam2022`y a concatenarlo con `sam2021` para así obtener *un solo* dataset con la muestra de Universidad del Norte.

In [62]:
sam2022.drop(dif_cols, axis=1, inplace=True)
sam2022.sample(5)

,Periodo,Aplicación,Examen,Tipo de documento,Documento,Nombre,Número de registro,Tipo de evaluado,SNIES programa académico,Programa,...,Núcleo básico de conocimiento,Puntaje global,Percentil nacional global,Percentil nacional nbc,Módulo,Puntaje módulo,Nivel de desempeño,Percentil nacional módulo,Percentil grupo nbc módulo,Novedades
9466,20225,SABER PRO 2022-2,Saber Pro,CC,1005424853,MARIA MONICA VILLA HERNANDEZ,EK202250807834,Estudiante,104542,ODONTOLOGÍA,...,ODONTOLOGÍA,114,12,12.0,COMUNICACIÓN ESCRITA,128,2,36,44.0,NaN
13683,20225,SABER PRO 2022-2,Saber Pro,CC,1047505779,JULITSA PAOLA MENDOZA PALENCIA,EK202251227636,Estudiante,1270,PSICOLOGIA,...,PSICOLOGÍA,199,98,99.0,ANÁLISIS DE PROBLEMÁTICAS PSICOLÓGICAS,176,NaN,80,80.0,NaN
7700,20225,SABER PRO 2022-2,Saber Pro,CC,1084791179,MARIA JOSE ORTEGA RODRIGUEZ,EK202250640029,Estudiante,1271,DERECHO,...,DERECHO Y AFINES,163,74,68.0,COMPETENCIAS CIUDADANAS,180,3,85,71.0,NaN
5530,20225,SABER PRO 2022-2,Saber Pro,CC,1002161809,MARIA CAMILA MARTINEZ OTERO,EK202250457614,Estudiante,20523,NEGOCIOS INTERNACIONALES,...,ADMINISTRACIÓN,169,81,90.0,COMPETENCIAS CIUDADANAS,157,3,65,75.0,NaN
12985,20225,SABER PRO 2022-2,Saber Pro,CC,1234096732,ANDREA ALVAREZ CORREA CAMARGO,EK202251192939,Estudiante,1276,INGENIERIA INDUSTRIAL,...,INGENIERÍA INDUSTRIAL Y AFINES,183,92,90.0,PENSAMIENTO CIENTÍFICO - MATEMÁTICAS Y ESTADÍS...,164,3,93,95.0,NaN

In [63]:
sam=pd.concat([sam21,sam2022], axis=0, ignore_index=True)
myText("El nuevo dataset que contiene la muestra de estudiantes Uninorte en los periodos 2021 y 2022 contiene {sam.shape[0]} registros y {sam.shape[1]} columnas")

<p style='font-size:16px;'>El nuevo dataset que contiene la muestra de estudiantes Uninorte en los periodos 2021 y 2022 contiene {sam.shape[0]} registros y {sam.shape[1]} columnas</p>

## Descripción y exploración de Variables

### `sam` muestra de estudiantes Uninorte

Conozcamos el contenido del este set de datos. 
Empezamos por revisar qué columnas tiene, qué significan y el tipo de dato que en estos momentos se reconoce en cada una de ellas, en este momento identificamos si es pertinente realizarles algun ajuste.

In [64]:
sam.dtypes

Periodo                               int64
Aplicación                           object
Examen                               object
Tipo de documento                    object
Documento                            object
Nombre                               object
Número de registro                   object
Tipo de evaluado                     object
SNIES programa académico              int64
Programa                             object
Ciudad                               object
Id núcleo básico de conocimiento      int64
Núcleo básico de conocimiento        object
Puntaje global                        int64
Percentil nacional global             int64
Percentil nacional nbc              float64
Módulo                               object
Puntaje módulo                        int64
Nivel de desempeño                   object
Percentil nacional módulo             int64
Percentil grupo nbc módulo          float64
Novedades                            object
dtype: object

#### `Periodo` [obj]
Este dato esta compuesto por el año de presentación de la prueba y a veces incluye un dígito que indica un periodo de realización de la misma ya que en un mismo año pueden abrirse varias convocatorias. 

Para este análisis necesitamos que el `Periodo` solo contenga el *año de presentación de la prueba* y que sea de naturaleza *"categórica"*

Usaremos una funcion personalizada para este propósito.

In [65]:
Periodo_to4digits(sam,'Periodo')

26906    2021
34787    2022
37704    2022
10844    2021
40384    2022
Name: Periodo, dtype: object

Confirmamos que la información corresponde al año de presentación de la prueba y ahora es de tipo `Object`

Usaremos otra función personalizada para revisar valores nulos y únicos de esta columna

In [66]:
#| echo: false
Nulls_Uniques(sam,'Periodo')

<p style='font-size:18px;'>Este campo tiene 0 registros nulos  y  2 valores únicos </p>

<p style='font-size:18px;'>Sus valores únicos son:</p>

         count
Periodo
2021     32844
2022     15661

#### `Aplicación`  [obj]
Este campo indica la convocatoria específica del año en el que presentó la prueba. Este campo no parece ser relevante para nuestro análisis. por lo tanto será eliminado posteriormente.

In [67]:
#| echo: false
Nulls_Uniques(sam,'Aplicación')

<p style='font-size:18px;'>Este campo tiene 0 registros nulos  y  6 valores únicos </p>

<p style='font-size:18px;'>Sus valores únicos son:</p>

                                  count
Aplicación
PRO Y TYT 20212                   31754
SABER PRO 2022-2                  14632
SABER PRO Y TYT EXTERIOR - 20213   1090
SABER PRO Y TYT EXTERIOR - 20222    590
SABER PRO 2022-1                    419
SABER TYT 2022-2                     20


Sus valores únicos son:

In [68]:
rename_col(sam,'Aplicación','Aplicacion')

<p style='font-size:18px;'>Ejecutamos una función personalizada para cambiar el nombre de la columna <code>Aplicación</code> por <code>Aplicacion</code> para evitar posibles errores en los procesos posteriores.</p>

#### `Examen` [obj]
Este campo indica la prueba presentada por el estudiante. En la Universidad del Norte solo se aplican pruebas *Saber Pro* que corresponden a la oferta de programas de pregrado.
Al revisar los valores de esta variable, encontramos 20 registros de Examen tipo *Saber TyT*, los cuales representan atípicos, ya que la institución no ofrece carreras Técnicas ni Tecnológicas.

In [69]:
#| echo: false
Nulls_Uniques(sam,'Examen')

<p style='font-size:18px;'>Este campo tiene 0 registros nulos  y  2 valores únicos </p>

<p style='font-size:18px;'>Sus valores únicos son:</p>

           count
Examen
Saber Pro  48485
Saber TyT     20


Como estos datos representan el solo el *0.04%*  del total de registros procederemos a eliminarlos.

#### `Tipo de documento`  [obj]
Este campo hace referencia al tipo de documento de identidad que el estudiante tiene vigente al momento de presentar la prueba. No se identifican valores atípicos en este campo. Este campo no aporta significativamente al análisis que realizaremos por lo que es susceptible a ser eliminado en etapas posteriores.

In [70]:
#| echo: false
Nulls_Uniques(sam,'Tipo de documento')

<p style='font-size:18px;'>Este campo tiene 0 registros nulos  y  5 valores únicos </p>

<p style='font-size:18px;'>Sus valores únicos son:</p>

                   count
Tipo de documento
CC                 48135
CE                   168
TI                   111
PE                    83
PPT                    8

In [71]:
rename_col(sam,'Tipo de documento','Tipo_Documento')

<p style='font-size:18px;'>Ejecutamos una función personalizada para cambiar el nombre de la columna <code>Tipo de documento</code> por <code>Tipo_Documento</code> para evitar posibles errores en los procesos posteriores.</p>

#### `Documento`  [obj]
Este campo contiene el número de documento de identidad del estudiante. Aunque en sí mismo no aporta información relevante para el análisis, es **muy importante** porque nos permite consultar las bases de datos institucionales para agregar variables académicas a nuestro estudio. 

Este valor **debería ser único**, es decir, cada registro de nuestro dataset debería representar a un estudiante, sin embargo nuestro dataset tiene registros repetidos porque está estructurado de manera que cada registro es una prueba diferente. Esto significa que debemos restructurar el dataset.

In [72]:
#| echo: false
total_registros = sam['Documento'].count()

valores_unicos = sam['Documento'].nunique()

porcentaje_unicos = (valores_unicos / total_registros) * 100

markdown_text = (
    f"<p style='font-size:18px;'>El dataset tiene {total_registros} registros, de los cuales {valores_unicos} son únicos, "
    f"es decir, el {porcentaje_unicos:.2f}%.</p>"
)

display(Markdown(markdown_text))

<p style='font-size:18px;'>El dataset tiene 48505 registros, de los cuales 4791 son únicos, es decir, el 9.88%.</p>

#### `Nombre`  [obj]
Este campo indica el nombre completo del estudiante. Aunque no es relevante en el análisis, es importante contar con esta información para hacer las validaciones finales.

In [73]:
#| echo: false
Nulls_Uniques(sam,'Nombre')

<p style='font-size:18px;'>Este campo tiene 0 registros nulos  y  4791 valores únicos </p>

<p style='font-size:18px;'>Sus valores únicos son:</p>

                                  count
Nombre
INES MARCELA SUAREZ ROJAS            30
VALENTINA ANDREA MADARIAGA PEREZ     22
VANESSA  BALDOVINO CHAVEZ            22
LAURA CECILIA NAME CAMARGO           22
MIGUEL ANGEL REALES OYUELA           22
...                                 ...
MARIA CLAUDIA CHINCHILLA VELEZ        5
MARÍA JOSÉ BARRIOS BAZA               5
JOSE DAVID SANTIAGO HERNÁNDEZ         5
MARCELA CAROLINA ORTEGA ARAGÓN        5
JUAN JAVIER JARABA PARRA              5

[4791 rows x 1 columns]

#### `Número de registro`  [obj]
Un número único asignado a cada estudiante que toma una prueba de Estado, en nuestro caso: Saber Pro. Este identificador es esencial para consultar los resultados de la evaluación.

Esta variable no es relevante para el análisis, pero será de utilidad para el cruce de información con el dataset de la población.

In [74]:
#| echo: false
Nulls_Uniques(sam,'Número de registro')

<p style='font-size:18px;'>Este campo tiene 0 registros nulos  y  4821 valores únicos </p>

<p style='font-size:18px;'>Sus valores únicos son:</p>

                    count
Número de registro
EK202120012963         14
EK202122194801         14
EK202121328079         14
EK202122192623         14
EK202122193217         14
...                   ...
EK202250632802          5
EK202250613794          5
EK202250612697          5
EK202250560524          5
EK202260013466          5

[4821 rows x 1 columns]

Para evitar errores futuros vamos a ajustar el nombre del campo a `numero_registro`

In [75]:
rename_col(sam,'Número de registro','Numero_Registro' )

<p style='font-size:18px;'>Ejecutamos una función personalizada para cambiar el nombre de la columna <code>Número de registro</code> por <code>Numero_Registro</code> para evitar posibles errores en los procesos posteriores.</p>

#### `Tipo de evaluado`  [obj]
Corresponde a la modalidad de la inscripción, si es *Estudiante* indica que la persona que presenta la prueba está actualmente estudiando en la institución y sus resultados se tienen en cuenta para evaluar la calidad de la IES. Por el contrario si es *Individual* significa que el evaluado se inscribió por cuenta propia y no en representación de una institución.

Particularme los estudiantes de Uninorte debes inscribirse en modalidad *Estudiante*, no deberían existir registros de categoría *Individual*.

In [76]:
#| echo: false
Nulls_Uniques(sam,'Tipo de evaluado')

<p style='font-size:18px;'>Este campo tiene 0 registros nulos  y  2 valores únicos </p>

<p style='font-size:18px;'>Sus valores únicos son:</p>

                  count
Tipo de evaluado
Estudiante        48325
Individual          180

In [77]:
rename_col(sam,'Tipo de evaluado', 'Tipo_Evaluado')

<p style='font-size:18px;'>Ejecutamos una función personalizada para cambiar el nombre de la columna <code>Tipo de evaluado</code> por <code>Tipo_Evaluado</code> para evitar posibles errores en los procesos posteriores.</p>

#### `SNIES programa académico`  [obj]
El SNIES es Es el Sistema Nacional de Información de la Educación Superior reglamentado mediante Decreto 1767 de 2006 con el propósito de recoger, organizar, consolidar y divulgar información sobre educación superior. Cada programa académico debidamente registrado en el SNIES tiene un código único que lo identifica ante el Ministerio de Educación Nacional.

Este campo no aporta al análisis pero permite identificar los programas académicos de la Universidad del Norte.
Se considera un dato de naturaleza `Categorica  No Ordinal`, procederemo realizar la transformación correspondiente.

In [78]:
sam['SNIES programa académico']= sam['SNIES programa académico'].astype(str)
sam['SNIES programa académico'].dtype

dtype('O')

Para evitar errores en los próximos pasos de procesamiento, vamos a ajustar el nombre de esta columna a `SNIES_Programa`

In [79]:
rename_col(sam,'SNIES programa académico', 'SNIES_Programa')

<p style='font-size:18px;'>Ejecutamos una función personalizada para cambiar el nombre de la columna <code>SNIES programa académico</code> por <code>SNIES_Programa</code> para evitar posibles errores en los procesos posteriores.</p>

#### `Programa`  [obj]
Contiene el nombre del programa académico del estudiante que presentó la prueba.

En Uninorte no existen los programas: `TECNOLOGIA EN REDES DE COMUNICACIONES`, ni `TECNOLOGIA EN PROCESOS INDUSTRIALES`, por lo tanto, estos registros deberán ser eliminados.

In [80]:
#| echo: false
Nulls_Uniques(sam,'Programa')

<p style='font-size:18px;'>Este campo tiene 0 registros nulos  y  31 valores únicos </p>

<p style='font-size:18px;'>Sus valores únicos son:</p>

                                         count
Programa
INGENIERIA CIVIL                          4925
MEDICINA                                  4820
INGENIERIA INDUSTRIAL                     4558
ADMINISTRACION DE EMPRESAS                4442
PSICOLOGIA                                3430
COMUNICACION SOCIAL Y PERIODISMO          2900
DERECHO                                   2895
INGENIERIA MECANICA                       2764
NEGOCIOS INTERNACIONALES                  2262
CONTADURIA PUBLICA                        1934
INGENIERIA DE SISTEMAS Y COMPUTACION      1822
ARQUITECTURA                              1596
INGENIERIA ELECTRONICA                    1453
GEOLOG¿A                                  1199
ENFERMERIA                                1113
DISEÑO GRAFICO                            1006
RELACIONES INTERNACIONALES                 972
INGENIERIA ELECTRICA                       813
ODONTOLOGÍA                                671
ECONOMIA                                   619
CIENCIA POLITICA Y GOBIERNO                614
LICENCIATURA EN PEDAGOGIA  INFANTIL        476
DISEÑO INDUSTRIAL                          362
MÚSICA                                     275
LENGUAS MODERNAS Y CULTURA                 265
MATEMATICAS                                174
FILOSOFÍA Y HUMANIDADES                    105
LICENCIATURA EN FILOSOF¿A Y HUMANIDADES     15
TECNOLOGIA EN REDES DE COMUNICACIONES       15
TECNOLOGIA EN PROCESOS INDUSTRIALES          5
LICENCIATURA EN EDUCACION INFANTIL           5

`Ciudad`: Indica la ciudad de la IES a la que pertenece el estudiante evaluado.
En este caso particular todos los registros deben indicar `Barranquilla`

In [81]:
#| echo: false
Nulls_Uniques(sam,'Ciudad')

<p style='font-size:18px;'>Este campo tiene 0 registros nulos  y  1 valores únicos </p>

<p style='font-size:18px;'>Sus valores únicos son:</p>

              count
Ciudad
BARRANQUILLA  48505

#### `Id núcleo básico de conocimiento`  [obj]
El Núcleo Básico del Conocimiento (NBC) es una clasificación que organiza un área del conocimiento en sus campos, disciplinas o profesiones fundamentales. Todos los programas de educación superior registrados en el Ministerio de Educación Nacional (MEN) se integran al SNIES, una base de datos pública que recoge información básica sobre cada programa y lo vincula a un NBC específico.

El Icfes ha definido que la oferta de módulos específicos del examen Saber Pro se basa en la combinación del NBC y el nivel de formación del programa en cuestión, según la clasificación del SNIES del MEN. Esto permite a los evaluados comparar sus resultados en cada módulo, ya sea genérico o específico, con los de otros participantes evaluados dentro del mismo NBC ( @Icfes2024_II ). 

Este campo contiene el ID que identifica que NBC al que pertenece el programa académico del estudiante evaluado, aunque es un número entero, realmente representa una *categoría* por lo que ajustaremos el tipo de dato y el nombre del campo.

In [82]:
sam['Id núcleo básico de conocimiento']= sam['Id núcleo básico de conocimiento'].astype(str)
sam['Id núcleo básico de conocimiento'].dtype

dtype('O')

In [83]:
#| echo: false
Nulls_Uniques(sam,'Id núcleo básico de conocimiento')

<p style='font-size:18px;'>Este campo tiene 0 registros nulos  y  25 valores únicos </p>

<p style='font-size:18px;'>Sus valores únicos son:</p>

                                  count
Id núcleo básico de conocimiento
9                                  5244
25                                 4925
45                                 4820
30                                 4563
66                                 3430
57                                 2900
59                                 2895
31                                 2764
11                                 2079
12                                 1934
27                                 1822
18                                 1596
56                                 1586
29                                 1468
7                                  1368
36                                 1199
41                                 1113
28                                  813
47                                  671
13                                  491
8                                   275
64                                  265
37                                  174
68                                  105
99                                    5

In [84]:
rename_col(sam,'Id núcleo básico de conocimiento','ID_NBC')

<p style='font-size:18px;'>Ejecutamos una función personalizada para cambiar el nombre de la columna <code>Id núcleo básico de conocimiento</code> por <code>ID_NBC</code> para evitar posibles errores en los procesos posteriores.</p>

#### `Núcleo básico de conocimiento`  [obj]
Describe el nombre del NBC al que pertenece el programa académico del evaluado.

In [85]:
Nulls_Uniques(sam,'Núcleo básico de conocimiento')

<p style='font-size:18px;'>Este campo tiene 0 registros nulos  y  25 valores únicos </p>

<p style='font-size:18px;'>Sus valores únicos son:</p>

                                                    count
Núcleo básico de conocimiento
ADMINISTRACIÓN                                       5244
INGENIERÍA CIVIL Y AFINES                            4925
MEDICINA                                             4820
INGENIERÍA INDUSTRIAL Y AFINES                       4563
PSICOLOGÍA                                           3430
COMUNICACIÓN SOCIAL, PERIODISMO Y AFINES             2900
DERECHO Y AFINES                                     2895
INGENIERÍA MECÁNICA Y AFINES                         2764
ECONOMÍA                                             2079
CONTADURÍA PUBLICA                                   1934
INGENIERÍA DE SISTEMAS, TELEMÁTICA Y AFINES          1822
ARQUITECTURA                                         1596
CIENCIA POLÍTICA, RELACIONES INTERNACIONALES         1586
INGENIERÍA ELECTRÓNICA, TELECOMUNICACIONES Y AF...   1468
DISEÑO                                               1368
GEOLOGÍA, OTROS PROGRAMAS DE CIENCIAS NATURALES      1199
ENFERMERÍA                                           1113
INGENIERÍA ELÉCTRICA Y AFINES                         813
ODONTOLOGÍA                                           671
EDUCACIÓN                                             491
MÚSICA                                                275
LENGUAS MODERNAS, LITERATURA, LINGÜÍSTICA Y AFINES    265
MATEMÁTICAS, ESTADÍSTICA Y AFINES                     174
FILOSOFÍA, TEOLOGÍA Y AFINES                          105
SIN CLASIFICAR                                          5

In [86]:
rename_col(sam, 'Núcleo básico de conocimiento', 'NBC')

<p style='font-size:18px;'>Ejecutamos una función personalizada para cambiar el nombre de la columna <code>Núcleo básico de conocimiento</code> por <code>NBC</code> para evitar posibles errores en los procesos posteriores.</p>

#### `Puntaje Global` [Int64]
El puntaje global en la prueba Saber Pro es un indicador que resume el desempeño general de un estudiante en las diferentes competencias evaluadas por el examen ( @Icfes2024 ).

Este puntaje se calcula a partir de los resultados obtenidos en los módulos obligatorios, *lectura crítica*, *razonamiento cuantitativo*, *competencias ciudadanas*, *comunicación escrita* e *inglés*, calculando un promedio simple. 
**Este valor puede variar entre 0 y 300 puntos** ( @Icfes2024_II).

:::{.callout-important}
Este campo contiene la variable objetivo más importante de nuestros análisis
:::

In [87]:
rename_col(sam,'Puntaje global','PG')

<p style='font-size:18px;'>Ejecutamos una función personalizada para cambiar el nombre de la columna <code>Puntaje global</code> por <code>PG</code> para evitar posibles errores en los procesos posteriores.</p>

#### `Percentil nacional global` [Int64]:
Indica el porcentaje de estudiantes a nivel nacional que presentaron el examen con puntajes inferiores al obtenido por la persona evaluada ( @Icfes2024_II ).

In [88]:
#| echo: false
Nulls_Uniques(sam,'Percentil nacional global')

<p style='font-size:18px;'>Este campo tiene 0 registros nulos  y  100 valores únicos </p>

<p style='font-size:18px;'>Sus valores únicos son:</p>

                           count
Percentil nacional global
97                          2410
98                          2212
100                         2201
96                          2135
94                          2045
...                          ...
6                             66
5                             47
10                            44
11                            38
17                            34

[100 rows x 1 columns]

In [89]:
#| echo: false
rename_col(sam, 'Percentil nacional global', 'Perc_Global')

<p style='font-size:18px;'>Ejecutamos una función personalizada para cambiar el nombre de la columna <code>Percentil nacional global</code> por <code>Perc_Global</code> para evitar posibles errores en los procesos posteriores.</p>

#### `Percentil nacional nbc` [Int32]
Indica el porcentaje de estudiantes a nivel nacional y **del mismo NBC** que presentaron el examen con puntajes inferiores al obtenido por la persona evaluada.

In [90]:
#| echo: false

Nulls_Uniques(sam,'Percentil nacional nbc')

<p style='font-size:18px;'>Este campo tiene 180 registros nulos  y  100 valores únicos </p>

<p style='font-size:18px;'>Sus valores únicos son:</p>

                        count
Percentil nacional nbc
99.0                     1836
96.0                     1745
97.0                     1724
100.0                    1685
98.0                     1564
...                       ...
33.0                       88
12.0                       82
15.0                       79
13.0                       70
9.0                        65

[100 rows x 1 columns]

In [91]:
#| echo: false
rename_col(sam, 'Percentil nacional nbc', 'Perc_NBC')

<p style='font-size:18px;'>Ejecutamos una función personalizada para cambiar el nombre de la columna <code>Percentil nacional nbc</code> por <code>Perc_NBC</code> para evitar posibles errores en los procesos posteriores.</p>

Este valor está en formato `float`, vamos a convertilo a `Int`: como tiene valores nulos, vamos a imputarlos por `0` (verificando que no hayan valores en 0 preexistentes), para posteriormente hacer la conversión a `Int`.
En una etapa posterior se le dará manejo a estos valores en cero (0)

In [92]:
if sam[sam['Perc_NBC']==0].count().sum()>0:  #Verificar si el Dataset tiene valores 0.
    print ('El dataset tiene valores iguales a 0, no se recomienda imputar Nulls')

else: #Si no los tiene, vamos a reemplazar los NUll/NAN por 0 y le daremos manejo posteriormente.
    sam['Perc_NBC'] = sam['Perc_NBC'].fillna(0)
    sam['Perc_NBC'] = sam['Perc_NBC'].astype(int)
    print('Se ha realizado la imputación correctamente')

Se ha realizado la imputación correctamente

#### `Módulo` [Obj]
Un Módulo o Prueba es un conjunto de ítems asociado a un área de evaluación que busca medir competencias  ( @Icfes2024_glos ). El examen Saber Pro tiene un componente *Genérico* que consta de 5 Módulos o Pruebas:

* Competencias Ciudadanas
* Comunicación Escrita
* Inglés
* Lectura Crítica
* Razonamiento Cuantitativo

Adicional a estos, el Icfes ha dispuesto que la oferta de módulos específicos del examen Saber Pro, está definida por la combinación del Núcleo Básico del Conocimiento (NBC) y el nivel de formación establecido para cada programa de acuerdo con la clasificación SNIES del MEN ( @Icfes2024_modulos ).

In [93]:
Nulls_Uniques(sam,'Módulo')

<p style='font-size:18px;'>Este campo tiene 0 registros nulos  y  36 valores únicos </p>

<p style='font-size:18px;'>Sus valores únicos son:</p>

                                                    count
Módulo
COMPETENCIAS CIUDADANAS                              7401
COMUNICACIÓN ESCRITA                                 7401
INGLÉS                                               7401
LECTURA CRÍTICA                                      7401
RAZONAMIENTO CUANTITATIVO                            7401
FORMULACIÓN DE PROYECTOS DE INGENIERÍA               1852
ATENCIÓN EN SALUD                                     790
DISEÑO DE OBRAS DE INFRAESTRUCTURA                    639
FUNDAMENTACIÓN EN DIAGNÓSTICO Y TRATAMIENTO MÉD...    628
PENSAMIENTO CIENTÍFICO - CIENCIAS FÍSICAS             589
DISEÑO DE SISTEMAS PRODUCTIVOS Y LOGÍSTICOS           582
ANÁLISIS DE PROBLEMÁTICAS PSICOLÓGICAS                555
GESTIÓN FINANCIERA                                    538
GESTIÓN DE ORGANIZACIONES                             472
PROCESOS COMUNICATIVOS                                455
INVESTIGACIÓN JURÍDICA                                381
COMUNICACIÓN JURÍDICA                                 381
PROMOCIÓN DE LA SALUD Y PREVENCIÓN DE LA ENFERM...    356
DISEÑO DE SISTEMAS MECÁNICOS                          330
FORMULACIÓN, EVALUACIÓN Y GESTIÓN DE PROYECTOS        286
DISEÑO DE SISTEMAS DE CONTROL                         282
PENSAMIENTO CIENTÍFICO - MATEMÁTICAS Y ESTADÍSTICA    260
INFORMACIÓN Y CONTROL CONTABLE                        252
DISEÑO DE SOFTWARE                                    235
INVESTIGACIÓN EN CIENCIAS SOCIALES                    231
ESTUDIO PROYECTUAL                                    229
GENERACIÓN DE ARTEFACTOS                              218
PROYECTO DE ARQUITECTURA                              212
PENSAMIENTO CIENTÍFICO - CIENCIAS DE LA TIERRA        194
CUIDADO DE ENFERMERÍA EN LOS ÁMBITOS CLÍNICO Y ...    132
GESTIÓN DEL CONFLICTO                                 103
ANÁLISIS ECONÓMICO                                     99
DIAGNÓSTICO Y TRATAMIENTO EN SALUD ORAL                78
FORMAR                                                 63
EVALUAR                                                63
ENSEÑAR                                                15

In [94]:
rename_col(sam,'Módulo','Modulo')

<p style='font-size:18px;'>Ejecutamos una función personalizada para cambiar el nombre de la columna <code>Módulo</code> por <code>Modulo</code> para evitar posibles errores en los procesos posteriores.</p>

#### `Puntaje módulo` [Int64]

Valora el puntaje obtenido por el estudiante en un módulo o prueba específica.

El promedio de los puntajes obtenidos en los 5 módulos principales constituye el *Puntaje Global*, por esta razón esta variable es muy importante para nuestro análisis.

In [95]:
Nulls_Uniques(sam,'Puntaje módulo')

<p style='font-size:18px;'>Este campo tiene 0 registros nulos  y  196 valores únicos </p>

<p style='font-size:18px;'>Sus valores únicos son:</p>

                count
Puntaje módulo
0                1235
179               678
190               658
184               654
188               650
...               ...
63                  2
244                 2
60                  2
240                 2
247                 1

[196 rows x 1 columns]

In [96]:
rename_col(sam,'Puntaje módulo', 'PM')

<p style='font-size:18px;'>Ejecutamos una función personalizada para cambiar el nombre de la columna <code>Puntaje módulo</code> por <code>PM</code> para evitar posibles errores en los procesos posteriores.</p>

:::{.callout-important}
Este campo contiene variables objetivos que son importantes para el análisis
:::

#### `Nivel de desempeño` [Obj]
Es un resultado con descripciones cualitativas de las habilidades y conocimientos del estudiante de acuerdo con el puntje obtenido en cada una de las pruebas.
Para estar ubicado en un nivel, se requiere haber superado los anteriores y la complejidad de los niveles es crenciente (el nivel 4 y B+ son los niveles mas altos). 

Es importante destacadar que cada prueba tiene sus propios niveles de desempeño, por lo que no son comparables entre sí de manera directa.

La consideramos entonces una *variable categórica ordinal*.

Tiene registros nulos los cuales analizaremos posteriormente.

In [97]:
Nulls_Uniques(sam,'Nivel de desempeño')

<p style='font-size:18px;'>Este campo tiene 3227 registros nulos  y  11 valores únicos </p>

<p style='font-size:18px;'>Sus valores únicos son:</p>

                    count
Nivel de desempeño
3                   19690
2                    7739
4                    5593
1                    4802
B2                   3806
B1                   2627
A2                    746
A1                    218
6                      27
5                      26
Pre-A1                  4

In [98]:
rename_col(sam,'Nivel de desempeño', 'Nivel_Desempeño' )

<p style='font-size:18px;'>Ejecutamos una función personalizada para cambiar el nombre de la columna <code>Nivel de desempeño</code> por <code>Nivel_Desempeño</code> para evitar posibles errores en los procesos posteriores.</p>

#### `Percentil nacional módulo` [Int64]

 Indica el porcentaje de estudiantes a nivel nacional que presentaron el **Módulo** con puntajes inferiores al obtenido por la persona evaluada

In [99]:
Nulls_Uniques(sam,'Percentil nacional módulo')

<p style='font-size:18px;'>Este campo tiene 0 registros nulos  y  100 valores únicos </p>

<p style='font-size:18px;'>Sus valores únicos son:</p>

                           count
Percentil nacional módulo
100                         2123
98                          1652
97                          1486
96                          1482
90                          1471
...                          ...
5                            142
24                           140
18                           134
9                            125
25                           118

[100 rows x 1 columns]

In [100]:
rename_col(sam,'Percentil nacional módulo','Perc_Mod')

<p style='font-size:18px;'>Ejecutamos una función personalizada para cambiar el nombre de la columna <code>Percentil nacional módulo</code> por <code>Perc_Mod</code> para evitar posibles errores en los procesos posteriores.</p>

#### `Percentil grupo nbc módulo` [Int32]
Indica el porcentaje de estudiantes a nivel nacional y del mismo NBC que presentaron el **Módulo** con puntajes inferiores al obtenido por la persona evaluada.

In [101]:
Nulls_Uniques(sam,'Percentil grupo nbc módulo')

<p style='font-size:18px;'>Este campo tiene 180 registros nulos  y  100 valores únicos </p>

<p style='font-size:18px;'>Sus valores únicos son:</p>

                            count
Percentil grupo nbc módulo
100.0                        1885
90.0                         1288
98.0                         1240
1.0                          1210
97.0                         1181
...                           ...
16.0                          177
6.0                           169
26.0                          166
9.0                           164
7.0                           163

[100 rows x 1 columns]

In [102]:
rename_col(sam,'Percentil grupo nbc módulo','Perc_nbc_mod')

<p style='font-size:18px;'>Ejecutamos una función personalizada para cambiar el nombre de la columna <code>Percentil grupo nbc módulo</code> por <code>Perc_nbc_mod</code> para evitar posibles errores en los procesos posteriores.</p>

Este valor está en formato `float`, vamos a convertilo a `Int`: como tiene valores nulos, vamos a imputarlos por 0 (verificando que no hayan valores en 0 preexistentes), para posteriormente hacer la conversión a Int. En una etapa posterior se le dará manejo a estos valores en cero (0)

In [103]:
if sam[sam['Perc_nbc_mod']==0].count().sum()>0:#Verificar si el Dataset tiene valores 0.
  print ('El dataset tiene valores iguales a 0, no se recomienda imputar Nulls')  
else:
#Si no los tiene, vamos a reemplazar los NUll/NAN por 0 y le daremos manejo posteriormente.
    sam['Perc_nbc_mod'] = sam['Perc_nbc_mod'].fillna(0)
    sam['Perc_nbc_mod'] = sam['Perc_nbc_mod'].astype(int)
    print('Se ha realizado la imputación correctamente')

Se ha realizado la imputación correctamente

#### `Novedades` [obj]

Este campo incluye observaciones, reportes o irregularidades que se hayan generado durante la presentación del examen. 

Es de utilidad porque nos ayuda a depurar los registros de pruebas que hayan sido presentadas de forma incompleta o irregular, las cuales eliminaremos de nuestro análisis.

In [104]:
Nulls_Uniques(sam,'Novedades')

<p style='font-size:18px;'>Este campo tiene 47558 registros nulos  y  7 valores únicos </p>

<p style='font-size:18px;'>Sus valores únicos son:</p>

                                                    count
Novedades
Usted aparece como ausente en las dos sesiones ...    770
Usted no contestó ninguna de las preguntas del ...     78
La Oficina Asesora Jurídica del ICFES adelanta ...     45
Usted asistió únicamente a la segunda sesión de...     15
Usted asistió únicamente a la primera sesión de...     15
La validez del resultado está condicionada a la...     14
Su resultado no se muestra porque no presentó d...     10

### Resumen y Next Steps

1. El campo `Periodo` es importante pero requiere procesamiento (Procesar)
2. el campo `Aplicación` no aporta info relevante (Eliminar)
3. El campo `Examen` tiene valores de Saber TyT (Procesar y Eliminar)
4. El campo `Tipo_Documento` no aporta información relevante (Eliminar)
5. El campo `Documento` se encuentra repetido por la estructura del dataset. (Procesar)
6. El campo `Nombre` No aporta información relevante para el análisis pero es importante para interpretar lo resultados de los análisis (Separar)
7. El campo `Numero_Registro` No aporta información relevante para el análisis pero es importante para consultas posteriores (Separar)
8. El campo `Tipo_Evaluado` se deben eliminar pruebas presentadas a título *Individual* (Procesar y Eliminar)
9. El campo `SNIES_Programa` No aporta información relevante para el análisis pero es importante para consultas posteriores (Separar)
10. El campo `Programa` se deben eliminar programas que no pertenecen a Uninorte (Procesar)
11. El campo `Ciudad` No aporta información relevante ya que todos los registros tienen el mismo valor (Eliminar).
12. El campo `ID_NBC`  Puede ser una variable influyente (Mantener)
13. El campo `NBC` No aporta información relevante para el análisis pero es importante para interpretar lo resultados de los análisis (Separar)
14. El campo `PG` es una de la viarables objetivo del análisis (Mantener)
15. El campo `Perc_Global` Podría aportar al análisis (Mantener)
16. El campo `Perc_NBC` Podría aportar al análisis (Mantener)                      
17. El campo `Módulo` Separa los resultados de cada prueba individualente (Procesar)
18. El campo `Nivel_Desempeño` es variable objetivo, tiene nulos (Procesar)
19. El campo `Perc_Mod`   Podría aportar al análisis (Mantener)           
20. El campo `Perc_nbc_mod`  Podría aportar al análisis (Mantener)         
21. El campo `Novedades` Importante para la limpieza del dataset pero no para el análisis (Mantener)

In [105]:
#| echo: false
sam.to_csv('sam.csv', index=False)

------------------------------------------------------

# Descripción de variables de dataset Pob

In [106]:
pob.columns

Index(['PERIODO', 'ESTU_CONSECUTIVO', 'ESTU_CODDANE_COLE_TERMINO',
       'ESTU_VALORMATRICULAUNIVERSIDAD', 'ESTU_COMOCAPACITOEXAMENSB11',
       'ESTU_SEMESTRECURSA', 'FAMI_EDUCACIONPADRE', 'FAMI_EDUCACIONMADRE',
       'ESTU_HORASSEMANATRABAJA', 'INST_COD_INSTITUCION',
       'INST_NOMBRE_INSTITUCION', 'ESTU_PRGM_ACADEMICO',
       'ESTU_SNIES_PRGMACADEMICO', 'GRUPOREFERENCIA', 'ESTU_PRGM_CODMUNICIPIO',
       'ESTU_PRGM_DEPARTAMENTO', 'ESTU_NUCLEO_PREGRADO',
       'ESTU_INST_CODMUNICIPIO', 'ESTU_INST_DEPARTAMENTO',
       'INST_CARACTER_ACADEMICO', 'MOD_RAZONA_CUANTITAT_PUNT',
       'MOD_RAZONA_CUANTITAT_DESEM', 'MOD_LECTURA_CRITICA_PUNT',
       'MOD_LECTURA_CRITICA_DESEM', 'MOD_COMPETEN_CIUDADA_PUNT',
       'MOD_COMPETEN_CIUDADA_DESEM', 'MOD_INGLES_PUNT', 'MOD_INGLES_DESEM',
       'MOD_COMUNI_ESCRITA_PUNT', 'MOD_COMUNI_ESCRITA_DESEM', 'PUNT_GLOBAL',
       'filter_$', 'ZPUNT_GLOBAL', 'ZSco01'],
      dtype='object')